## Downloading the BoM Rainfall data for Christmas Island
- taken from the BoM website.

In [1]:
import pysplit as py
import numpy as np
import pickle as pickle
from pprint import pprint
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
XI_rainfall=pd.read_csv(r'/Volumes/Seagate_Backup/PhD/Results/Christmas Islands/Bom Data/Christmas Island BOM/Daily_Rainfall.csv',
                       usecols=['Year','Month','Day','Rainfall'])
XI_rainfall

       Year  Month  Day  Rainfall
0      1973      1    1       NaN
1      1973      1    2       NaN
2      1973      1    3       NaN
3      1973      1    4       NaN
4      1973      1    5       NaN
5      1973      1    6       NaN
6      1973      1    7       NaN
7      1973      1    8       NaN
8      1973      1    9       NaN
9      1973      1   10       NaN
10     1973      1   11       NaN
11     1973      1   12       NaN
12     1973      1   13       NaN
13     1973      1   14       NaN
14     1973      1   15       NaN
15     1973      1   16       NaN
16     1973      1   17       NaN
17     1973      1   18       NaN
18     1973      1   19       NaN
19     1973      1   20       NaN
20     1973      1   21       NaN
21     1973      1   22       NaN
22     1973      1   23       NaN
23     1973      1   24       NaN
24     1973      1   25       NaN
25     1973      1   26       NaN
26     1973      1   27       NaN
27     1973      1   28       NaN
28     1973      1   29       NaN
29     1973      1   30       NaN
...     ...    ...  ...       ...
16815  2019      1   15       NaN
16816  2019      1   16       NaN
16817  2019      1   17       NaN
16818  2019      1   18       0.0
16819  2019      1   19       0.0
16820  2019      1   20       8.8
16821  2019      1   21      23.4
16822  2019      1   22       NaN
16823  2019      1   23       NaN
16824  2019      1   24      22.2
16825  2019      1   25       4.8
16826  2019      1   26      27.4
16827  2019      1   27      12.6
16828  2019      1   28      12.4
16829  2019      1   29      11.6
16830  2019      1   30      27.8
16831  2019      1   31      11.4
16832  2019      2    1       0.6
16833  2019      2    2       0.8
16834  2019      2    3       8.8
16835  2019      2    4       5.4
16836  2019      2    5       6.4
16837  2019      2    6       0.0
16838  2019      2    7       0.2
16839  2019      2    8       0.2
16840  2019      2    9       0.0
16841  2019      2   10       0.0
16842  2019      2   11       0.2
16843  2019      2   12       0.0
16844  2019      2   13       0.0

[16845 rows x 4 columns]

In [ ]:
width = 1/1.5
plt.bar(XI_rainfall.Year,XI_rainfall.Rainfall,width,color='blue')
plt.xlabel('Year, Month', fontsize=5)
plt.ylabel('XI_RAINFALL', fontsize=5)
plt.title('XI_rainfall')
plt.show()

In [3]:
date_rng = pd.date_range(start='1/1/1973', end='13/02/2019', freq='D')
XI_rainfall['Date_Range']=date_rng
XI_rainfall_T=pd.DataFrame(XI_rainfall['Date_Range'])
XI_rainfall_T['Rainfall']=XI_rainfall.Rainfall


#trying to convert the date_range to datetime
XI_rainfall_T['Date_Range']= pd.to_datetime(XI_rainfall_T['Date_Range'])
XI_rainfall_T.index=XI_rainfall_T['Date_Range']

## Calculate the Climatology
Using the entire period and obtiaining the monthly means

In [4]:
# get climatology
ds_XI_rainfall_monthly = XI_rainfall_T.resample('M').sum()

#convert the dataframe - does the same as the top however python likes it more when you only have an index and the valuess
#ds_XI_rainfall_month = XI_rainfall_T.groupby(['Date_Range']).mean()

#caluclating the average rainfall - over the entire period not just the climatological period 
ds_XI_rainfall_month_av = ds_XI_rainfall_monthly.groupby(ds_XI_rainfall_monthly.index.month).mean()
ds_XI_rainfall_month_av

              Rainfall
Date_Range
1           283.561702
2           326.976596
3           299.056522
4           231.084783
5           179.017391
6           170.906522
7            94.576087
8            40.828261
9            55.130435
10           77.652174
11          164.889130
12          218.476087

In [5]:
plt.bar(ds_XI_rainfall_month_av.index,ds_XI_rainfall_month_av.Rainfall,width,color='blue')
plt.xlabel(' Month', fontsize=5)
plt.ylabel('XI_RAINFALL', fontsize=5)
plt.title('XI_rainfall_Average_over_instrumental_period')
plt.show()

NameError: name 'width' is not defined

In [6]:
%store ds_XI_rainfall_month_av

Stored 'ds_XI_rainfall_month_av' (DataFrame)

## Downloading of the ERA SST and Rainfall information. 

- Download for